// Variables
// -------------------------

@gray-darker:   #222;
@gray-dark:     #333;
@gray:          #555;
@gray-light:    #999;
@gray-lighter:  #eee;

@color-default: #e0e0e0;
@color-primary: #428bca;
@color-success: #5cb85c;
@color-info:    #5bc0de;
@color-warning: #f0ad4e;
@color-danger:  #d9534f;

@color-x:       #4169e1;
@color-o:       #f00;

@cell-size:    40px;


// Styles
// -------------------------


.x,
.X,
.host {
  color: @color-x;
}

.o,
.O,
.guest{
  color: @color-o;
}


.sidebar {
  border-right: 1px solid @gray;
  height: 100vh;
  position: relative;
}

.sidebar-table {
  display: table;
  height: 100%;
  width: 100%;
}

.sidebar-table-row {
  display: table-row;
  height: 100%;
  width: 100%;
}

.header {
  border-bottom: 1px solid @gray-light;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.users {
  max-height: 200px;
  overflow: auto;

  ul {
    margin: 0;
    padding-left: 10px;
  }

  .myself {
    text-decoration: underline;
  }
}


.game-screen {
  border-left: 1px solid @gray;
  margin: 25px 0 0 -1px;
}

.players .active {
  text-decoration: underline;
}

.board {
  border: 1px solid @gray-dark;
  display: inline-block;
  margin: 20px 0 0;
  padding: 3px;

  .board-row {
    height: @cell-size;
    margin: 0;
    padding: 0;

    &:first-child .cell {
      border-top: 1px solid @gray-dark;
    }
  }

  .cell {
    border-right: 1px solid @gray-dark;
    border-bottom: 1px solid @gray-dark;
    cursor: not-allowed;
    display: inline-block;
    font-size: @cell-size * 2 / 3;
    height: @cell-size;
    line-height: @cell-size;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: @cell-size;
    transition: background 1s ease-out;

    &:first-child {
      border-left: 1px solid @gray-dark;
    }

    &.last {
      background: @gray-lighter;
    }

    &.win {
      background: @color-warning;
    }

    &.empty:hover {
      box-shadow: 0 0 5px 1px @color-info inset;
    }
  }

  &.active .cell.empty {
    cursor: pointer;
  }
}

.message {
  color: @color-success;
  margin-top: 15px;
  font-size: 25px;
}