<!doctype html>
<html ng-app="XO">
    <head>
        <title>Noughts and Crosses</title>
        <meta charset="utf-8">
        <link media="all" href="bower/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link media="all" href="styles/application.css" type="text/css" rel="stylesheet">
        <script src="bower/jquery/jquery.js"></script>
        <script src="bower/angular/angular.js"></script>
        <script src="bower/bootstrap/js/bootstrap.js"></script>
        <script src="bower/socket.io-client/socket.io.js"></script>
        <script src="scripts/application.js"></script>
    </head>

    <body ng-controller="XOController" ng-init="initGame()">

        <div class="container-fluid">
            <div class="row">
                <div id="sidebar" class="sidebar col-sm-3">
                    <div class="sidebar-table">
                        <div class="sidebar-table-row">

                            <!-- header -->
                            <div class="header text-center">
                                <h1><span class="x">X</span><span class="o">O</span></h1>
                                <h2><span class="o">Noughts</span> and <span class="x">Crosses</span></h2>
                            </div>

                            <!-- username form -->
                            <form name="user" ng-hide="user.uid">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="user.name" ng-minlength="3" ng-maxlength="10" placeholder="Enter name" required>
                                    <span class="input-group-btn">
                                        <input class="btn btn-default" type="submit" ng-click="addUser()" ng-disabled=" ! user.$valid" value="Submit">
                                    </span>
                                </div>
                            </form>

                            <!-- game buttons -->
                            <div ng-show="user.uid">
                                <h3>Welcome {{user.name}}</h3>
                                <button type="button" class="btn btn-primary" ng-click="startGame()" ng-hide="game.host">New game</button>
                                <button type="button" class="btn btn-success" ng-click="joinGame()" ng-show="game.host" ng-hide="game.gid">Join random game</button>
                            </div>

                            <!-- game-controls -->
                            <div class="game-controls" ng-show="game.gid">
                                <button type="button" class="btn btn-danger" ng-click="resetGame()">Reset game</button>
                            </div>
                        </div>
                        <div class="sidebar-table-row">

                            <!-- user list -->
                            <div class="panel panel-default" ng-show="user.uid">
                                <div class="panel-heading">Users</div>
                                <div class="users panel-body">
                                    <ul class=" list-unstyled">
                                        <li ng-repeat="usr in users">
                                            <span ng-show="user.uid === usr.uid" class="glyphicon glyphicon-user"></span>
                                            {{usr.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="game-screen text-center col-sm-9" ng-show="game.gid">

                    <div ng-hide="game.guest">Wait for your enemy</div>

                    <div ng-show="game.guest" class="players">
                        <span class="{{users[game.host].role}}" ng-class="{active: game.host === game.turn}">{{users[game.host].name}}</span> vs
                        <span class="{{users[game.guest].role}}" ng-class="{active: game.guest === game.turn}">{{users[game.guest].name}}</span>
                    </div>

                    <div id="board" class="board" ng-show="game.guest" ng-click="click($event)" ng-class="{active: game.turn === user.uid}">
                        <div class="board-row" ng-repeat="arr in game.board" ng-init="row = $index">
                            <div class="cell {{cell.value || 'empty'}}" ng-class="{'last': row === internal.last.x && column === internal.last.y, 'win': cell.win}" ng-repeat="cell in arr track by $index" ng-init="column = $index" data-row="{{row}}" data-column="{{column}}">{{cell.value}}</div>
                        </div>
                    </div>

                    <div ng-show="game.message" class="message">{{game.message}}</div>
                </div>
            </div>
        </div>
    </body>
</html>